
body{
  background-color:hsl(342, 100%, 97%); ;  
}
table, td{
  background-color: rgb(255, 114, 138);
  border: 2px solid hsla(0, 95%, 85%, 0.997);
  font-size: 20px;
}
h4{
  font-size: 30px;
}
button{
  background-color:  #dedcdd;
 border: 4px;
 border-radius: 5px;
 height: 25px;
 width: 150px;
 border-style:inherit;
 font-size: 10px;
 }